


//MVL
@media (max-width: 480px) {
  .carousel{
    position: relative;
    width: 100%;
    //top: 12vh;
    height: auto;
    opacity: 0.9;
  }
	}
  //PC
  @media (min-width: 480px) {
    .carousel{
      width: 100%;
      position: relative;
    //  height: 21vh;
      opacity: 0.9;
      display: flex;
    }
    }

    .carousel-control-prev-icon {
      width: 3vw;
      height: 3vw;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%343A40' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
color:white;
    }
    .carousel-control-next-icon > span {
    color:white;
    }
    .carousel-control-next-icon {
      width: 3vw;
      height: 3vw;
      color:white;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%343A40' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }
